#project{
    display: 'none';
    padding-top: 7%;    
    background-image: url("../../assets/images/beanstalk.png");
    padding-bottom: calc(1rem * 2);
  }

.codeSnippet {
    max-width: 100%;
    /* display: inline-block; */
    /* object-fit: cover; */
    /* overflow:  hidden; */

}