#project{
    display: 'none';
    padding-bottom: 15px;
    padding-top: calc(var(--navbarH) + 15px);
    background-image: url("../../assets/images/beanstalk.png");
 }

.codeSnippet {
    max-width: 100%;
}

@media screen and (max-width: 768px) {

  #project {
    padding: calc(var(--navbarH) + 15px) 15px 5px;
  }

}