.pCard {
    height: 100%;
    width: 100%;
    opacity: 0.7;
    border: 3px solid #4aaaa5;
}

.pCard:hover {
    opacity: 1.0;
}

.projectBtn {
    background-color: rgba(74,170,165,0.75);
    position: absolute;
    bottom: 2rem;
    border-radius: 0 70px 10px 0;
    text-align: left;
}
  
.projectH1 {
    font-size: 1.5rem;
}
