.pCard {
    height: 100%;
    width: 100%;
    opacity: 0.8;
    border: 3px solid var(--bgInfo);
}

.pCard:hover {
    opacity: 1.0;
}

.projectBtn {
    /* background-color: var(--bgInfoLight); */
    background: linear-gradient(0deg, var(--bgInfo) 0%, rgba(23,162,184,0.5) 100%);
    position: absolute;
    bottom: 0;
    border: 0px;
    border-radius: 0 100px 0px 0;
    text-align: left;
    width: 100%;
}
  
.projectH1 {
    font-size: 1.5rem;
}

.projectH2 {
    font-size: 1rem;
}

#secSmall {
    display: none;
}


@keyframes  pRtoL{
    0%   {left:1000px; top:0px;}
    100% {left:0px; top:0px;}
  }

@keyframes pLtoR {
    0%   {right:1000px; top:0px;}
    100% {right:0px; top:0px;}
  }
  
/* .projectLtoR {
    position: relative;
    animation-name: pLtoR;
    animation-duration: 4s;
  }
  
.projectRtoL {
    position: relative;
    animation-name: pRtoL;
    animation-duration: 4s;
} */
  

@media screen and (max-width: 1200px) {
        
    .projectH1 {
        font-size: 1.25rem;
    }

    .projectH2 {
        font-size: 0.75rem;
    }
  
  }

@media screen and (max-width: 576px) {
        
    .projectH1 {
        font-size: 1rem;
    }

    #secL{
        display: none;
    }
    
    #secSmall {
        display: block;
    }
  
  }

  @media screen and (max-width: 350px) {
        
    #secXS { 
        display: none;
    }
  
  }