#welcome {
    min-height: 100vh;
    background-image: url("../../assets/images/welcome.jpg");
    display: flex;
    align-items: center;
}
  
#welcomeContainer {
    background-color: rgba(255, 255, 255, 0.75);
}

#headshotContainer {
    display: flex;
    align-items: center;
}

#headshot {
    max-width: 100%;
} 
  
.welcomeH1 {
      font-size: 6rem;
}

.welcomeH2 {
    font-size: 3rem;

}

@media screen and (max-width: 1000px) {
    
    .welcomeH1 {
        font-size: 5rem;
    }
    .welcomeH2 {
        font-size: 2rem;
    }

}

@media screen and (max-width: 768px) {
    
    .welcomeH1 {
        font-size: 4rem;
    }
    .welcomeH2 {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 576px) {
    
    .welcomeH1 {
        font-size: 3rem;
    }
    .welcomeH2 {
        font-size: 1rem;
    }
    #welcome {
        padding: 15px;
    }

}


