#portfolio{
    padding-top: calc(var(--navbarH) + 15px);
    background-image: url("../../assets/images/beanstalk.png");
  }

.portfolioContent {
  width: 87%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {

  #portfolio {
    padding: calc(var(--navbarH) + 15px) 15px 5px;
  }

  .portfolioContent {
    width: 100%;
  }
  
}