#portfolio{
    padding-top: var(--paddingTopSection);
    background-image: var(--bgImgWall);
  }


@media screen and (max-width: 768px) {

  #portfolio {
    padding: calc(var(--navbarH) + 15px) 15px 5px;
  }


  
}