/* #portfolio {
    display: none;
} */

/* #project {
    display: none;
} */



.content {
    width: 62.5%;
    margin: 0 auto;
    min-height: calc(110vh - 265px);
}

#portfolio, #about{
    padding-top: calc(80px + (1rem * 1.5));    
    background-image: url("../images/beanstalk.png");
    min-height: 100vh;
    padding-bottom: calc(1rem * 2);
}

#project{
    padding-top: calc(40px + (1rem * 1.5));    
    background-image: url("../images/beanstalk.png");
    min-height: 100vh;
    padding-bottom: calc(1rem * 2);
}

#about {
    padding-top: 5%;
    background-image: url("../images/welcome.jpg");
}

#headshot {
    width: 300px;
    margin: 5px 15px 5px 0px;
} 

.projectCard {
    padding: 0px;
}

.rightCorners {
    border-radius: 0px;
    border: 0px;
}

.card {
    height: 100%;
    width: 100%;
}
.card-img {
    height: 100%;
    width: 100%;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 30px;
    z-index: 99;
    font-size: 18px;

  }

.codeSnippet {
    max-width: 100%;
    /* display: inline-block; */
    /* object-fit: cover; */
    /* overflow:  hidden; */

}


.footerLink{
    color: white;
    border-radius: 30%;
}

@media screen and (max-width: 576px) {
    
    .content {
        width: 80%;
    }
    #headshot {
        width: 100%;
        margin: 0 auto;
    }  

    #topBtn {
        right: 2px;
    }

    #t{
        display: none;
    }

}


