/* #portfolio {
    display: none;
} */

/* #project {
    display: none;
} */

.rightCorners {
    border-radius: 0px;
    border: 0px;
}


.card-img {
    height: 100%;
    width: 100%;
}



.codeSnippet {
    max-width: 100%;
    /* display: inline-block; */
    /* object-fit: cover; */
    /* overflow:  hidden; */

}




