#topBtn {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    background-color: var(--bgInfo);
  }
  
@media screen and (max-width: 576px) {

    #topBtn {
        right: 2px;
    }

    #t{
        display: none;
    }

}
