#about {
    padding-top: var(--paddingTopSection);
    background-image: var(--bgImgWall)
  }
  
  #headshot2 {
    width: 220px;
    margin: 0px 15px 5px 0px;
  } 

  .aboutText {
    line-height: 32px;
  }

  @media screen and (max-width: 576px) {

    #headshot2 {
        width: 100%;
        margin: 0 auto;
    }  

    #about {
      padding: calc(var(--navbarH) + 15px) 15px 5px;
    }
    
}

