.navbar {
    padding: 0 5% 0 0;
}

.navbarText {
    font-size: 2rem;
}

.navbar-brand {
    max-width: 100%;
}
  
@media screen and (max-width: 992px) {
      
    .navbar {
        padding: 0;
    }

    li.nav-item:nth-child(2n -1) {
        background-color: var(--linkHoverDark);

      }

  }