@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root {
  --navbarH: 104px;
  --linkHoverDark: #118496;
  --linkHoverDarker: #09444d;
  --bgInfo: rgba(23,162,184,1);
  --bgInfoLight: rgba(23,162,184,0.75);
  --bgImgWall: url("./assets/images/beanstalk.png");
  --paddingTopSection: calc(var(--navbarH) + 15px);
  --linkHoverLight: rgba(23,162,184,0.2);

}

html {
  scroll-behavior: smooth;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;

}

.headingText {
  font-size: 3rem;
}

.content {
  width: 62.5%;
  margin: 0 auto;
  min-height: calc(110vh - 265px);
}

.sectionContent {
  width: 87%;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
        
  .content {
    width: 80%;
  }
  .headingText {
      font-size: 2rem;
  }

  .sectionContent {
    width: 100%;
  }

}