@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root {
  --navbarH: 104px;
}

html {
  scroll-behavior: smooth;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;

}

.headingText {
  font-size: 3rem;
}

.content {
  width: 62.5%;
  margin: 0 auto;
  min-height: calc(110vh - 265px);
}

@media screen and (max-width: 576px) {
        
  .content {
    width: 80%;
  }
  .headingText {
      font-size: 2rem;
  }

}