.contentText {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 32px;
}

.headingText {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: x-large;
}

.content {
  width: 62.5%;
  margin: 0 auto;
  min-height: calc(110vh - 265px);
}

@media screen and (max-width: 576px) {
        
  .content {
    width: 80%;
  }
  .headingText {
      font-size: large;
  }

}